<a href="https://colab.research.google.com/github/SaguPandya96/Data-Science-/blob/master/Feature_Engineering_Count_or_frequency_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Count or frequency encoding


High Cardinality


Another way to refer to variables that have a multitude of categories, is to call them variables with high cardinality.

If we have categorical variables containing many multiple labels or high cardinality,then by using one hot encoding, we will expand the feature space dramatically.

One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.

Let's see how this works:

In [1]:
import pandas as pd
import numpy as np

# let's open the mercedes benz dataset for demonstration
# Download the dataset from the below link
#https://www.kaggle.com/aditya1702/mercedes-benz-data-exploration/data

df = pd.read_csv('/content/test.csv', usecols=['X1', 'X2'])
df.head()

  X1  X2
0  v   n
1  b  ai
2  v  as
3  l   n
4  s  as

In [2]:
df.shape

(4209, 2)

One hot Encoding

In [3]:
pd.get_dummies(df).shape

(4209, 72)

In [4]:
len(df['X1'].unique())

27

In [5]:
len(df['X2'].unique())

45

In [6]:
# let's have a look at how many labels

for col in df.columns[0:]:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  45  labels

In [7]:
# let's obtain the counts for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to re-map the labels

df.X2.value_counts().to_dict()

{'a': 44,
 'ab': 4,
 'ac': 20,
 'ad': 4,
 'ae': 478,
 'af': 4,
 'ag': 23,
 'ah': 3,
 'ai': 462,
 'aj': 1,
 'ak': 260,
 'al': 4,
 'am': 3,
 'an': 1,
 'ao': 19,
 'ap': 11,
 'aq': 72,
 'as': 1658,
 'at': 3,
 'au': 5,
 'av': 1,
 'aw': 9,
 'ax': 1,
 'ay': 78,
 'b': 38,
 'd': 6,
 'e': 84,
 'f': 85,
 'g': 5,
 'h': 6,
 'i': 15,
 'j': 2,
 'k': 25,
 'm': 348,
 'n': 113,
 'p': 10,
 'q': 5,
 'r': 155,
 's': 100,
 't': 25,
 'u': 1,
 'w': 3,
 'x': 2,
 'y': 1,
 'z': 12}

In [8]:

# And now let's replace each label in X2 by its count

# first we make a dictionary that maps each label to the counts
df_frequency_map = df.X2.value_counts().to_dict()

In [9]:
df.head(100)

    X1  X2
0    v   n
1    b  ai
2    v  as
3    l   n
4    s  as
..  ..  ..
95   b   m
96   b   m
97  aa  as
98   s   m
99   s   m

[100 rows x 2 columns]

In [10]:
# and now we replace X2 labels in the dataset df
df.X2 = df.X2.map(df_frequency_map)

df.head()

  X1    X2
0  v   113
1  b   462
2  v  1658
3  l   113
4  s  1658

There are some advantages and disadvantages that we will discuss now

Advantages
It is very simple to implement
Does not increase the feature dimensional space
Disadvantages
If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.
2 Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power