<a href="https://colab.research.google.com/github/SaguPandya96/Data-Science-/blob/master/%20Feature%20Engineering%20One_Hot_Encoding_variables_with_many_categories%C2%B6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **One Hot Encoding - variables with many categories**

In [13]:
#https://www.kaggle.com/aditya1702/mercedes-benz-data-exploration/data

import pandas as pd
import numpy as np



df = pd.read_csv('/content/test.csv', usecols=['X1', 'X2'])
df.head()

  X1  X2
0  v   n
1  b  ai
2  v  as
3  l   n
4  s  as

In [14]:
for col in df:
    print(df[col].unique())

['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']

In [15]:
df['X1'].unique()

array(['v', 'b', 'l', 's', 'aa', 'r', 'a', 'i', 'p', 'c', 'o', 'm', 'z',
       'e', 'h', 'w', 'g', 'k', 'y', 't', 'u', 'd', 'j', 'q', 'n', 'f',
       'ab'], dtype=object)

In [16]:
len(df['X1'].unique())

27

In [17]:
df['X2'].unique()

array(['n', 'ai', 'as', 'ae', 's', 'b', 'e', 'ak', 'm', 'a', 'aq', 'ag',
       'r', 'k', 'aj', 'ay', 'ao', 'an', 'ac', 'af', 'ax', 'h', 'i', 'f',
       'ap', 'p', 'au', 't', 'z', 'y', 'aw', 'd', 'at', 'g', 'am', 'j',
       'x', 'ab', 'w', 'q', 'ah', 'ad', 'al', 'av', 'u'], dtype=object)

In [18]:
len(df['X2'].unique())

45

In [19]:
# let's have a look at how many labels each variable has

for col in df.columns:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  45  labels

In [20]:
df.shape

(4209, 2)

In [21]:
# let's examine how many columns we will obtain after one hot encoding these variables
pd.get_dummies(df, drop_first=True).shape

(4209, 70)

We can observe that from with just 2 categorical features we are getting 70 features with the help of one hot encoding.

# KDD Cup Orange Challenge
# From Kaggle

What can we do instead?

http://proceedings.mlr.press/v7/niculescu09/niculescu09.pdf In the winning solution of the KDD 2009 cup: "Winning the KDD Cup Orange Challenge with Ensemble

The Team suggested using 10 most frequent labels convert them into dummy variables using onehotencoding

How can we do that in python?