# Basic Python

# Variable data types, Variable, Variable assignment , Print formating

## Number

In [2]:
1+1

2

In [3]:
4*5

20

In [4]:
2*10

20

In [5]:
10/2

5.0

In [6]:
10%2

0

In [7]:
10**2

100

In [8]:
#check the data type

In [10]:
type(True)

bool

In [11]:
type(10)

int

In [12]:
type('hello')

str

## Strings

In [13]:
'Hello'

'Hello'

In [14]:
'Sagar Pandya'

'Sagar Pandya'

In [15]:
type('Sagar Pandya')

str

## Variable Assignment

In [17]:
#Syntax 
#var_name=values
a=10

In [18]:
type(a)

int

In [19]:
a='krish naik'

In [20]:
type(a)

str

In [22]:
#mathematical operation with the variable assignment 
a=10
b=20

In [23]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) #BODMAS

200
0.5
10
200.5

In [24]:
#varies ways of printing 

print("Hello")

Hello

In [25]:
First_name="Sagar"
Last_name="Pandya"

In [27]:
print("My first name is {} and last name is {}".format(First_name,Last_name))

My first name is Sagar and last name is Pandya

In [29]:
print("My First name is {First} and last name is {Last}".format(Last=Last_name,First=First_name))

My First name is Sagar and last name is Pandya

In [30]:
len("Sagar")

5

In [31]:
type(['1',2,3,4,5])

list

## Python Data Structures and Boolean

### Boolean
### Boolean and Logical Operators
### Lists
### Comparison operators
### Dictionaries
### Tuples
### Sets

In [34]:
#Boolean Variables
#Boolean values are the two constant objects False and True.

#They are used to represent truth values (other values can also be considered false or true).

#In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

#The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

#They are written as False and True, respectively.

In [35]:
False

False

In [36]:
print(True,False)

True False

In [38]:
type(True)

bool

In [39]:
type(False)

bool

In [40]:
my_str='Sagar007'

In [46]:
my_str.istitle()

True

In [42]:

print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
False

In [47]:
True and False

False

In [48]:
True and True

True

In [49]:
True or False

True

In [50]:
True or True

True

In [51]:
str_example='Hello World'
my_str='Sagar'

In [53]:
my_str.isalpha() or str_example.isnum()

True

## Lists

## A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets

In [54]:
type([])

list

In [55]:
lst_example=[]

In [56]:
type(lst_example)

list

In [57]:
lst=list()

In [58]:
type(lst)

list

In [59]:
lst=['mathematics','chemistry',100,200,300,204]

In [60]:
type(lst)

list

## Append

In [65]:
#append is used to add elements in the list 
lst.append("Sagar,Ravi")

In [66]:
lst

['mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 'Sagar',
 'Sagar,Ravi']

In [67]:
##indexing in list
lst[6]

'Krish'

In [68]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

## insert

In [69]:
##insert in specific order
lst.insert(1,"Pandya")

In [70]:
lst

['mathematics',
 'Pandya',
 'chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 'Sagar',
 'Sagar,Ravi']

In [71]:
lst.append(["Hello","World"])

In [72]:
lst

['mathematics',
 'Pandya',
 'chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 'Sagar',
 'Sagar,Ravi',
 ['Hello', 'World']]

In [73]:
lst=[1,2,3]

In [74]:
lst.append([4,5])

In [75]:
lst

[1, 2, 3, [4, 5]]

## Extend method

In [76]:
lst=[1,2,3,4,5,6]

In [77]:
lst.extend([8,9])

In [78]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

## various operation that we can perform in list

In [79]:
lst=[1,2,3,4,5]

In [80]:
sum(lst)

15

## Pop method

In [81]:
lst.pop()

5

In [82]:

lst

[1, 2, 3, 4]

In [83]:
lst.pop(0)

1

In [84]:
lst

[2, 3, 4]

## count():Calculates total occurrence of given element of List

In [85]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [86]:
#length:Calculates total length of List
len(lst)

6

In [87]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [88]:
##Min and Max
min(lst)

1

In [89]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [90]:
#defining on empty set 
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [91]:
set_var={1,2,3,4,3}

In [92]:
set_var

{1, 2, 3, 4}

In [95]:
set_var={"Avengers","Ironman","hitman"}
print(set_var)
type(set_var)

{'Ironman', 'hitman', 'Avengers'}

set

In [96]:
##inbuilt function in sets
set_var.add("Hulk")

In [98]:
print(set_var)

{'Ironman', 'hitman', 'Hulk', 'Avengers'}

In [99]:

set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [100]:
set2.intersection_update(set1)

In [101]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [103]:
##Difference 
set2.difference(set1)

set()

In [104]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [105]:

## Difference update

set2.difference_update(set1)

In [106]:
print(set2)

set()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [107]:
dic={}

In [108]:
type(dic)

dict

In [109]:
dic={1,2,3,4,5}

In [110]:
type(dic)

set

In [111]:
set_ex={1,2,3,4,5}

In [112]:
type(set_ex)

set

In [113]:
#let's create a dictionary 
my_dict={'Car1':"Audi","Car2":"BMW","Car3":"Tesla"}

In [114]:
type(my_dict)

dict

In [115]:
##Access the item values based on keys
my_dict['Car3']

'Tesla'

In [116]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Tesla

In [117]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Tesla')

In [123]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0' 
my_dict['car5']='Tesla x'

In [124]:
my_dict

{'Car1': 'Audi',
 'Car2': 'BMW',
 'Car3': 'Tesla',
 'car4': 'Audi 2.0',
 'car5': 'Tesla x'}

In [125]:

my_dict['Car1']='MAruti'

In [126]:
my_dict

{'Car1': 'MAruti',
 'Car2': 'BMW',
 'Car3': 'Tesla',
 'car4': 'Audi 2.0',
 'car5': 'Tesla x'}

## Nested Dictionary

In [127]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [128]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [129]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [130]:
print(car_type['car2'])

{'Audi': 1970}

In [131]:

print(car_type['car1']['Mercedes'])

1960

In [132]:
print(car_type['car3']['Ambassador'])

1980

## Tuples

In [133]:
#create an empty tuples
my_tuple=tuple()

In [134]:
type(my_tuple)

tuple

In [136]:
my_tuple=("Sagar","Ravi","chirag","Aakash")

In [137]:
my_tuple=('hello','world')

In [138]:
type(my_tuple)

tuple

In [145]:
#inbuilt function
my_tuple.count('hello')

1

In [146]:
my_tuple.index('world')

1