#Functions in Python

1. Why Functions
2. Function Definition 
3. Positional and keywords arguments in function

In [3]:
def even_odd(num):
  if num%2==0:
    print("the number is even")
  else:
    print("the number is odd")

In [6]:
even_odd(24)  #here added positional argument

the number is even

In [7]:
even_odd(13)

the number is odd

In [11]:
#print vs return 
def hello_world():
  return "hello welcome"

In [14]:
val=hello_world()

In [15]:
print(val)

hello welcome

In [17]:
def add_number(num1,num2):
  return num1+num2

In [18]:
val=add_number(13,36)

In [19]:
val

49

In [20]:
def add_number(num1,num2):
      return num1+num2

In [21]:
val=add_number(45,50)

In [22]:
val

95

In [33]:
#Positional Argument
#keyword argument

def hello(name,age=26):
    print("My name is {} and age is {}".format(name,age))

In [34]:
hello('Sagu')

My name is Sagu and age is 26

In [38]:
def hello (*args,**kwargs):  # Define with the argument and key word argument using with args and kwargs
    print(args)
    print(kwargs)

In [37]:
hello("Sagar","Pandya",age=26,dob=1996)

('Sagar', 'Pandya')
{'age': 26, 'dob': 1996}

In [46]:
lst=[1,2,3,4,5,6,7,8,9]

In [47]:
def evenoddsum(lst):
  even_sum=0
  odd_sum=0
  for i in lst:
      if i%2==0:
        even_sum=even_sum+i
      else:
              odd_sum=odd_sum+i
      return even_sum,odd_sum

In [48]:
evenoddsum(lst)

(0, 1)

##Lambda Function 
anonymous function

A function with no name

In [49]:
def addition(a,b):
   return a+b

In [50]:
addition(4,5)

9

In [51]:
addition=lambda a,b:a+b

In [53]:
addition(15,20)

35

In [56]:
def even(num):
  if num%2==0:
      return True

In [57]:
even(24)

True

In [60]:
even1=lambda a:a%2==0

In [61]:
even1(12)

True

In [62]:
def addition(x,y,z):
    return x+y+z

In [63]:
addition(2,3,4)

9

In [64]:
addition=lambda x,y,z: x+y+z

In [65]:
addition(2,3,4)

9

##Map Function 
 is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop

In [66]:
def even_or_odd(num):
  if num%2==0:
    return "The {} is Even".format(num)
  else:
    return "The {} is Odd".format(num)

In [67]:
even_or_odd(24)

'The 24 is Even'

In [68]:
lst=[1,2,3,4,5,6,7,8,9,24,56,78]

In [71]:
list(map(even_or_odd,lst))

['The 1 is Odd',
 'The 2 is Even',
 'The 3 is Odd',
 'The 4 is Even',
 'The 5 is Odd',
 'The 6 is Even',
 'The 7 is Odd',
 'The 8 is Even',
 'The 9 is Odd',
 'The 24 is Even',
 'The 56 is Even',
 'The 78 is Even']