##Python Operators 

1.Logical 
2.Equality
3.Comparision
4.Arithmetic

1. Logical Operators
In python following keywords are used for boolean operations -

*   Not              Unary Negation
*   And              Conditional AND
*   Or               Conditional OR

In [1]:
type(True)

bool

In [2]:
type(False)

bool

In [3]:
bool(1)

True

In [4]:
bool(0)

False

In [5]:
a=True 
b=False

In [6]:
True and False

False

In [7]:
True or False

True

In [8]:
not True

False

In [9]:
not False

True

In [11]:
age=int(input("Enter the age"))
if age>18 and age<=35:
  print("Mid age")

Enter the age20
Mid age

In [12]:
age=int(input("Enter the age"))
if age>18 or age<=35:
  print("Mid age")

Enter the age15
Mid age

In [16]:
age=int(input("Enter the age"))
if age<18 or age>=35:
  print("Successful Execution")

Enter the age16
Successful Execution

2. Equality Operators
Following operations are present in python for equlity check operation-



1.   is :-     a is b returns true if variable/identifiers a and b points to the same object
2.   is not :- a is not b returns true if variable/identifiers a and b points to the different object  
3.  ==   :-  a == b returns true if variable/ identifiers a and b has same value
4.  !=   :-  a != b returns true if variable/identifiers a and b has different value

In [17]:
a="Sagar"
b="Sagar"

a==b

True

In [19]:
a="Sagar"
b="Sagar1"

a==b

False

In [22]:
age=int(input("enter the age"))

if age ==18:
  print("you are in the teen age")

enter the age18
you are in the teen age

In [23]:
a="Sagar"
id(a)

139705578147312

In [30]:
a="Sagar"
b="Sagar"
print(id(a))
print(id(b))

#Here we can see the id is same for the both the values a and b

139705578147312
139705578147312

In [25]:
a is b

True

In [29]:
lst=[1,2,3]
lst1=[1,2,3]
print(id(lst))
print(id(lst1))
#when we create the collection using list id is different for the particular Object

139705577642736
139705577121984

In [31]:
lst==lst1

True

In [32]:
lst is lst1

False

In [33]:
lst is not lst1

True

In [36]:
"Sagar" != "Sagar1"

True

###3.Comparision Operator 



 <   :- Less than , <=  :- Less than or equal to  , >   :- Greater than  , >=  :- Greater than or equal to

In [41]:
marks= float(input("Enter the marks"))

if marks>35:
  print("Pass")
elif marks>=50 and marks<=70:
  print("First")
elif marks<35:
  print("Fail")

Enter the marks20
Fail

In [43]:
marks= float(input("Enter the marks"))

if marks>35:
  print("Pass")
  if marks>=50 and marks<=70:
    print("First")
elif marks<35:
  print("Fail")

Enter the marks50
Pass
First

##Arithmetic Operators
Addition , Subtraction , Multiplication , True divison , Integer Division , The Modulo Operator

In [44]:
24+24

48

In [45]:
48-25

23

In [46]:
48*24

1152

In [47]:
48/4

12.0

In [48]:
48//2

24

In [50]:
48//5  # provide the Round off

9