#If statement

In [ ]:
val=input("Enter the number")
value_float=float(val)
print(value_float>100)

Enter the number50
False

In [ ]:
val=input("Enter the number")
value_float=float(val)
print(value_float>100)

Enter the number120
True

In [ ]:
val=input("enter the number")
value_float=float(val)
if(value_float):
  print("the number is greater than 100")

enter the number124
the number is greater than 100

In [ ]:
val=input("enter the number")
value_float=float(val)
if(value_float%2==00):
  print("the number is even")

enter the number150
the number is even

##If else statement

In [ ]:
val=input("enter the number")
value_float=float(val)
if(value_float%2==00):
  print("the number is even")
else:
  print("The number is odd")

enter the number13
The number is odd

In [ ]:
val=input("enter the number")
value_float=float(val)
if(value_float%2==00):
  print("the number is even")
else:
  print("The number is odd")

enter the number100
the number is even

In [ ]:
##Age Form 

age=float(input("Enter the age"))
if (age<18):
  print("Minor age")

Enter the age15
Minor age

In [ ]:
age=float(input("Enter the age"))
if (age<18):
  print("Minor age")
else:
  print("you are not minor")

Enter the age21
you are not minor

In [ ]:
##Nested if 
age=float(input("Enter the age"))
if (age<18):
  print("Minor age")
elif (age>=18 and age<=45):
  print("Mid Age")

Enter the age33
Mid Age

In [ ]:
age=float(input("Enter the age"))
if (age<18):
  print("Minor age")
elif (age>=18 and age<=45):
  print("Mid Age")
elif(age>45 and age<=50):
  print("Senior mid age")
else:
  print("Senior Citizen")

Enter the age55
Senior Citizen

In [ ]:
##nested if else
age=float(input("Enter the age"))
if (age<18):
  print("Minor age")
  if(age<15):
    print("You are in School")
  else:
      print("you are in college")
elif (age>=18 and age<=45):
  print("Mid Age")
elif(age>45 and age<=50):
  print("Senior mid age")
else:
  print("Senior Citizen")

Enter the age16
Minor age
you are in college

In [ ]:
age=float(input("Enter the age"))
if (age<18):
  print("Minor age")
  if(age<15):
    print("You are in School")
  else:
      print("you are in college")
elif (age>=18 and age<=45):
  print("Mid Age")
elif(age>45 and age<=50):
  print("Senior mid age")
else:
  print("Senior Citizen")

Enter the age12
Minor age
You are in School

In [ ]:
##Loops Statement
##For Loops,while loops

In [ ]:
lst=[1,2,3,4,5,6,7]
for i in lst:
  print(i)

1
2
3
4
5
6
7

In [ ]:
lst =[1,2,3,4,5,6,7]
for i in lst:
  print(i+1)

2
3
4
5
6
7
8

In [ ]:
lst =[1,2,3,4,5,6,7]
for i in lst:
  print(i**2)

1
4
9
16
25
36
49

In [ ]:
##find the sum of all the elements in the list 
lst=[1,2,3,4,5,6,7]
sum1=0
for i in lst:
  sum1=sum1+i
print(sum1)

28

In [ ]:
##Find the Sum of even and odd number 
lst=[1,2,3,4,5,6,7]
even_sum=0
odd_sum=0

for i in lst:
  if(i%2==0):
    even_sum=even_sum+i
  else:
      odd_sum=odd_sum+i
print("Even sum is {}".format(even_sum))
print("odd even is {}".format(odd_sum))

Even sum is 12
odd even is 16

In [ ]:
##While condition 

i=0
while(i<=10):
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i=0
even_sum=0
odd_sum=0
while(i<=10):

    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
  
    
    
    i=i+1
print(even_sum,odd_sum)

30 25

In [ ]:
## continue
x=0
while x<7:
    x=x+1
    if x==4:
        continue
    print(x)

1
2
3
5
6
7

In [ ]:
##break
x=1
while(x<7):
    
    if x==4:
        break
    print(x)
    x=x+1

1
2
3